/*html, .container-fluid {
    background-color: rgba(0, 0, 30, 3);
}*/
.col-md-4 {
    background-color: rgba(0, 200, 200, 255);
}

.menu {
    margin: 15px;
}

.filtros {
    margin-top: 10px;
}

.section {
    padding-bottom: 10px;
    border-bottom: solid 1px;
}

.btn {
    margin-top: 5px;
    margin-left: 10px;
}

.margin-top {
    margin-top: 10%;
}
