html, .container-fluid {
    background-image:  url("img/background.jpg");
    background-size: 100%;
}
.col-md-4 {
    background-color: rgba(130, 170, 250, 0.5);
}

.height-80 {
    position: absolute;
    height: 80%;
}

.height-100 {
    height: 100%;
}

.menu {
    margin: 15px;
}

.filtros {
    margin-top: 10px;
}

.section {
    padding-bottom: 10px;
    border-bottom: solid 1px;
}

.btn {
    margin-top: 5px;
    margin-left: 10px;
}

.margin-top {
    margin-top: 10%;
}

.canvas {
    margin: auto;
}

.margin-left {
    margin-left: 8%;
}

.card-body {
    display: inline-grid;
    background: none;
}

.background-white {
    background-color: white;
}

.content-card {
    flex: 0 0 auto;
    width: 75%;
}

.center {
    text-align: center;
}

.icon {
    width: 20px;
    height: auto;
}

.clear {
    position: absolute;
    z-index: 9999!important;
    width: 100%;
    height: 100%;
    background-color: rgba(130, 170, 250, 0.350);
}

.hide {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .col-9 {
        width: 90%!important;
    }

    .offset-1 {
        margin-left: 3%!important; 
    }

    .margin-top {
        margin-top: 2%;
    }

    .btn {
        margin-top: 2px;
        margin-left: 5px;
    }

    .section {
        padding-bottom: 2px;
    }

    .menu {
        margin: 5px;
    }

    .height-80 {
        height: 95%;
    }

    .margin-left {
        margin-left: 12%;
    }

    .margin-left-min {
        margin-left: 2%;
    }

    .canvas-min {
        width: 500px;
        height: 500px;
    }
}