.paralax {
    background: url(../../../assets/paralax1.png);
    animation: movebg 16s linear infinite;
    height: 100%;
    position: relative;
    margin-top: -274px;
}
nav {
    display: flex;
}
nav h3 {
    color: var(--vetbook-background-section);
    margin-top: 0.8rem;
    font-family: 'Roboto';
    font-size: xxx-large;
    font-weight: 500;
    margin-right: 1%;
    margin-left: 33%;
}
nav img {
    width: 13%;
    margin-left: 0;
}
@keyframes movebg {
    0% {
        background-position: 1580px;
    }
    100% {
        background-position: 0;
    }
}
.container {
    text-align: center;
    margin-top: 5%;
}
.logo {
    height: 10vh;
    width: auto;
}
.content {
    display: flex;
    flex-direction: row;
    margin-top: 15%;

}
mat-radio-button {
    margin-right: 5%;
    margin-top: 1%;
    color: var(--vetbook-background-section);
}
.mat-checkbox-inner-container {
    color: var(--vetbook-background-section);
}
ul {
    list-style-type: none;
    color: var(--vetbook-background-section);
}
section {
    text-align: left;
    margin-bottom: 20%;
}
img {
    width: 90%;
    margin: auto;
    margin-bottom: 14%;
}
h3 {
    font-size: xx-large;
    text-align: initial;
    color: var(--vetbook-background-section);
    margin-left: 2rem;
}
.welcome h1 {
    font-size: 4em;
    line-height: 1em;
    color: var(--vetbook-dark-gray);
}
.form-content {
    background-color: var(--vetbook-primary);
    padding: 1%;
    flex-basis: 23rem;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--vetbook-background-section);
    text-align: center;
    margin-left: 39%;
    margin-top: 10%;
}
mat-label {
    color: var(--vetbook-background-section);
}
a {
    color: var(--vetbook-background-section);
}
.mat-form-field-underline {
    border-bottom-color: var(--vetbook-dark-gray);
}
form {
    margin: 2rem 0 2rem;
    padding: 8%;
}
.form-field {
    text-align: left;
    margin-bottom: 5%;
    color: var(--vetbook-background-section);
}
button {
    width: 100%;
    margin-bottom: 5%;
    height: 43px;
    margin-top: 8%;
}

.input {
    width: 98%;
    background-color: white;
    border: solid 1px var(--vetbook-background);
    border-radius: 2px;
    height: 40px;
    border-radius: 3px;
}

@media only screen and (max-width: 450px) {
    .content {
        flex-direction: column;
        align-items: center;
        
    }
    .logo{
        height: 5vh;
    }

    .welcome h1 {
        font-size: 2em;
    }
    .welcome {
        margin-left: 8px;
        flex-basis: 12rem;
    }
    .form-content {

        margin-left: -2px;
        width: 80%;
    }
   
} 
