<nav>
    <a href=""><img src="../../assets/vet/vet-logo-.png" alt="vet" class="logo"></a>
    <div class="navegation">
        <a href=""><img src="../../assets/nav/purple-home-icon.png" alt="home" class="icon"></a>
        <a href=""><img src="../../assets/nav/purple-chat-icon.png" alt="chat" class="icon"></a>
        <a href=""><img src="../../assets/nav/purple-profile-icon.png" alt="profile" class="icon"></a>
        <a href=""><img src="../../assets/nav/purple-bell-icon.png" alt="news" class="icon"></a>
    </div>
</nav>
