.fondo {
    background:url(../img/paralax/capa1.png) repeat-x ;
    animation: movebg 4s linear infinite;
    position:relative;
    top: 45px;
    height: 82px;

  }

  .capa2 {
    background:url(../img/paralax/capa2.png) repeat-x ;
    animation: movebg 6s linear infinite;
    position:relative;
    height: 127px;
    top: 190px;
  


  }

  .capa3 {
    background:url(../img/paralax/capa3.png) repeat-x ;
    animation: movebg 8s linear infinite;
    height: 307px;
    position:relative;
    top: 0px;
  }
  
  /* Animación para mover cielo y mar */
  @keyframes movebg {
    0% { background-position:410px } 
    100% { background-position:0 }
  }

  /* Animación del personaje */
.avatar {
    /* Tamaño de la viñeta individual */

    width:100px;
    height: 156px;
    margin:auto;  
    background:url(../img/personaje/run.png) repeat-x;
    animation:walk 0.8s steps(10) infinite;
    position:relative;
    bottom: 70px;

  }
  
  /* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
  @keyframes walk {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-1020px }
  }

  .saltando {
    width:100px;
    height:156px;
    margin:auto;  
    background:url(../img/personaje/jump.png) repeat-x;
    animation:jump 0.8s steps(10) infinite;
    position:relative;
    bottom:70px;
  }

  @keyframes jump {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-1020px }
    0% { bottom: 70px}
    50% {bottom: 120px}
    100% {bottom: 70px}
  }
  
  .deslizando {
    width:134px;
    height:156px;
    margin:auto;  
    background:url(../img/personaje/slide.png) repeat-x;
    animation:jump 0.8s steps(10) infinite;
    position:relative;
    bottom:70px;
  }

  @keyframes slide {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-1360px }
    0% { bottom: 70px}
    50% {bottom: 40px}
    100% {bottom: 70px}
  }