::-webkit-scrollbar {
    display: none;
}

/* PARALAX */

.capa1 {

    position: relative;
    top: 90px;
    height: 200px;
}

.move-c1 {
    animation: movebg 4.1s linear infinite;
}


.desierto-capa-1{
    background: url(../img/paralax/desierto/capa1.png) repeat-x;
}
.desierto-capa-2{
    background: url(../img/paralax/desierto/capa2.png) repeat-x;
}
.desierto-capa-3{
    background: url(../img/paralax/desierto/capa3.png) repeat-x;
}

.nieve-capa-1{
    background: url(../img/paralax/nieve/capa1.png) repeat-x;
}
.nieve-capa-2{
    background: url(../img/paralax/nieve/capa2.png) repeat-x;
}
.nieve-capa-3{
    background: url(../img/paralax/nieve/capa3.png) repeat-x;
}

.capa2 {

    position: relative;
    height: 250px;
    top: 385px;
}

.move-c2 {
    animation: movebg 10s linear infinite;
}

.capa3 {

    height: 800px;
    position: relative;
    top: 0px;
}

.move-c3 {
    animation: movebg 16s linear infinite;
}

@keyframes movebg {
    0% {
        background-position: 800px;
    }
    100% {
        background-position: 0;
    }
}

.info {
    font-family: monospace;
    padding: 5px;
    color: beige;
    background-color: grey;
    opacity: 0.7;
    width: 150px;
    border-radius: 25%;
    position: relative;
}

/* AVATAR */

.caminando-noel {
    background: url(../img/personaje/run2.png) repeat-x;
}

.saltando-noel {
    background: url(../img/personaje/jump2.png) repeat-x;
}

.deslizando-noel {
    background: url(../img/personaje/slide2.png) repeat-x;
}

.muriendo-noel {
    background: url(../img/personaje/dead3.png) repeat-x;
}

.muerto-noel {
    background: url(../img/personaje/dead3.png) repeat-x;
}

.caminando-aventurero {
    background: url(../img/personaje/run.png) repeat-x;
}

.saltando-aventurero {
    background: url(../img/personaje/jump.png) repeat-x;
}

.deslizando-aventurero {
    background: url(../img/personaje/slide.png) repeat-x;
}

.muriendo-aventurero {
    background: url(../img/personaje/dead.png) repeat-x;
}

.muerto-aventurero {
    background: url(../img/personaje/dead.png) repeat-x;
}
.avatar {
    /* Tamaño de la viñeta individual */
    width: 100px;
    height: 115px;
    margin-left: 20vw;
    position: relative;
    /*bottom: 70px;*/
    bottom: -25px;
}

.caminando {
    animation: walk 0.8s steps(10) infinite;
}

/* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
@keyframes walk {
    /* Partimos de la primera viñeta del sprite sheet */
    0% {
        background-position: 0;
    }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% {
        background-position: -1020px;
    }
}

.saltando {
    animation: jump 0.9s steps(10) infinite;
}

@keyframes jump {
    /* Partimos de la primera viñeta del sprite sheet */
    0% {
        background-position: 0;
    }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% {
        background-position: -1020px;
    }
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 300px;
    }
    100% {
        bottom: 5px;
    }
}

.deslizando {
    height: 110px;
    animation: slide 0.8s steps(10) infinite;
    position: absolute;
    bottom: 30px;
}

@keyframes slide {
    /* Partimos de la primera viñeta del sprite sheet */
    0% {
        background-position: 0;
    }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% {
        background-position: -1020px;
    }
}

.muriendo {
    /*TODO corregir tamaño*/
    width: 131px;
    height: 136px;
    animation: dead 0.8s steps(10) infinite;
    bottom: 0;
    z-index: 999;
}

@keyframes dead {
    /* Partimos de la primera viñeta del sprite sheet */
    0% {
        background-position: 0;
    }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% {
        background-position: -1330px;
    }
}

.muerto {
    width: 131px;
    height: 136px;
    background-position: -1200px;
    z-index: 999;
    position: absolute;
    bottom: 50px;
}

/* OBSTACULOS */

.obstaculo {
    width: 108px;
    height: 111px;
    transform: scaleX(-1);
    position: absolute;
    right: -200px;
}

.obstaculo2 {
    right: -180px;
}

.obstaculo3 {
    right: -220px;
}
.obstaculo4 {
    right: -240px;
}

.movilidad-obstaculo {
    animation: mover 4.1s steps(9) ;
}

.movilidad-diamante {
    animation: mover 4.1s steps(9) infinite;
}

@keyframes mover {
    0% {
        right: 0%;
    }
    20% {
        right: 20%;
    }
    40% {
        right: 40%;
    }
    60% {
        right: 60%;
    }
    80% {
        right: 80%;
    }
    100% {
        right: 95%;
    }
}
.stop {
    left: 20vw;
    z-index: 0;
}

.objetoBajo {
    bottom: 70px;
}

.regalos {
    width: 70px;
    height: 75px;
    background: url(../img/obstaculos/regalo.png) repeat-x;
}

.stoneice {
    width: 125px;
    height: 70px;
    background: url(../img/obstaculos/StoneHielo.png) repeat-x;
}

.snowman {
    background: url(../img/obstaculos/SnowMan.png) repeat-x;
}

.icebox {
    width: 130px;
    height: 130px;
    background: url(../img/obstaculos/IceBox.png) repeat-x;
}
.cactus1 {
    background: url(../img/obstaculos/Cactus1.png) repeat-x;
}

.cactus2 {
    width: 70px;
    height: 50px;
    background: url(../img/obstaculos/Cactus2.png) repeat-x;
}

.cactus3 {
    width: 85px;
    height: 98px;
    background: url(../img/obstaculos/Cactus3.png) repeat-x;
}

.skeleton {
    height: 45px;
    background: url(../img/obstaculos/Skeleton.png) repeat-x;
}

.stone {
    width: 125px;
    height: 70px;
    background: url(../img/obstaculos/Stone.png) repeat-x;
}

.objetoAlto {
    bottom: 160px;
    height: 130px;
}

.diamante {
    width: 60px;
    height:50px;
    background: url(../img/obstaculos/diamante.png) repeat-x;
}

.caja1 {
    width: 130px;
    background: url(../img/obstaculos/Crate.png) repeat-x;
}

.caja2 {
    width: 130px;
    background: url(../img/obstaculos/StoneBlock.png) repeat-x;
}

.hide {
    display: none;
}

/* SETTINGS */

.settings {
    position: absolute;
    z-index: 9999 !important;
    width: 99%;
    height: 99%;
    background-color: black;
    background-size: 100%;
    display: flex;
}

.icon {
    width: 25px;
    height: auto;
}

.big-icon {
    width: 45px;
}

.card-config {
    position: sticky;
    background-color: white;
    background-size: 100%;
    border: solid, 2px;
    text-align: center;
    align-content: center;
    flex-basis: 20rem;
    flex-grow: 30rem;
    max-height: 55vh;
    align-self: center;
    left: 40vw;
    font-family: monospace;
    font-size: large;
}
/* GAME OVER */

.game-over {
    position: absolute;
    z-index: 9999 !important;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: monospace;
    align-content: center;
    animation-name: opacidad;
    animation-duration: 2s;
}


@keyframes opacidad {
    0% {
        opacity: .0;    }
    50% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

.card {
    text-align: center;
}

.content {
    margin-top: 50vh;
}

.card-header {
    font-size: 3rem;
}

.card-body {
    font-size: 2rem;
}

.personaje {
    top: 35vh;
    left: 28vw;
}

/* FOOTER */

.footer-container {
    background-color: rgba(130, 170, 250, 1);
    position: fixed;
    bottom: 0px;
    height: 10vh;
    width: 100%;
    padding: 0 50px;
    line-height: 6em;
}

.logo-exactas {
    width: 25vh;
    height: auto;
}
.logo-container-right {
    height: 10vh;
    position: fixed;
    right: 10em;
}

.desarrolladores-container {
    position: fixed;
    left: 10em;
    line-height: 0em;
    
    text-align: center;
}

.no-decoration {
    color: black;
    text-decoration: none;
}

.catedra {
    position: fixed;
    left: 50em;
    text-align: center;
    margin-top: 2%;
}
.icon-link {
    width: 25px;
    height: auto;
}
.icon-github {
    margin-top: 5%;
}

.logo {
    position: fixed;
    top: -87px;
    left: -50px;
    max-width: 368px;
    vertical-align: baseline;
    z-index: 99999;
    opacity: 0.9;
}.footer-container {
    background-color: rgba(130, 170, 250, 1);
    position: fixed;
    bottom: 0px;
    height: 10vh;
    width: 100%;
    padding: 0 50px;
    line-height: 6em;
}

.logo-exactas {
    width: 25vh;
    height: auto;
    margin-top: 5%;
}
.logo-container-right {
    height: 10vh;
    position: fixed;
    right: 10em;
}

.desarrolladores-container {
    position: fixed;
    left: 10em;
    line-height: 0em;
    text-align: center;
    font-size: large;
}

.no-decoration {
    color: black;
    text-decoration: none;
}

.catedra {
    position: fixed;
    left: 50em;
    text-align: center;
    margin-top: 2%;
}
.icon-link {
    width: 25px;
    height: auto;
}
.icon-github {
    margin-top: 5%;
}

.logo {
    position: fixed;
    top: -87px;
    left: -50px;
    max-width: 368px;
    vertical-align: baseline;
    z-index: 99999;
    opacity: 0.9;
}