<div class="pagination">
    <h5 [class]="selected == 'vets' ? 'selected' : 'no-selected'" id="persons" (click)="changeTab('vets')">Profesionales</h5>
    <h5 [class]="selected == 'amateurs' ? 'selected' : 'no-selected'" id="posts" (click)="changeTab('amateurs')">Aficionados</h5>
    <h5 [class]="selected == 'posts' ? 'selected' : 'no-selected'" id="posts" (click)="changeTab('posts')">Publicaciones</h5>
</div>
<app-search-results [typeResults]="selected" [vets]="vets" [amateurs]="amateurs" [posts]="posts"></app-search-results>