.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.menu {
    flex-basis: 20rem;
    flex-grow: 1;
}

section {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 60%;
    min-height: 100%;
}

.pokemon {
    background-image: url('../img/Pokemon/img_29200_b81eddeeca20e7729d14395e10f71557_1.jpg');
    background-size: 100%;
}