body {
    background-image: url('../img/Pikachu-png.png');
    background-size: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.menu {
    flex-basis: 20rem;
    flex-grow: 1;
}

section {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 60%;
    min-height: 100%;
}

.pokemon {
    background-image: url('../img/Pokemon/fondoPokemon.png');
    background-size: 100%;
}

canvas {
    filter: grayscale(none);
}

.among-us {
    background-image: url('../img/AmongUs/fondoAmongUs.png');
    background-size: 100%;
}

.settings {
    position: absolute;
    z-index: 9999 !important;
    width: 99%;
    height: 99%;
    background-image: url('../img/Pokemon/img_29200_b81eddeeca20e7729d14395e10f71557_1.jpg');
    background-size: 100%;
    display: flex;
}

.card-config {
    position: sticky;
    background-image: url('../img/Pikachu-png.png');
    background-size: 100%;
    border: solid, 2px;
    text-align: center;
    align-content: center;
    flex-basis: 20rem;
    flex-grow: 30rem;
    max-height: 35vh;
    align-self: center;
    left: 40vw;
    font-family: monospace;
    font-size: large;
}
.hide {
    display: none;
}

.card {
    display: inline;
    text-align: -webkit-center;
}

.mod {
    border: solid 1px;
    padding: 2%;
    margin: 1%;
}

.btn {
    background-image: url('../img/Pikachu-png.png');
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    font-family: monospace;
}

.selected {
    border: solid 3px red;
}

.fichas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(65px, auto);
    background-color: white;
    width: 40%;
}

.ficha {
    position: relative;
}

.ficha1 {
    grid-column: 1;
}

.ficha2 {
    grid-column: 2;
}

.ficha3 {
    grid-column: 1;
    grid-row: 2;
}

.ficha4 {
    grid-column: 2;
    grid-row: 2;
}

.disabled {
    opacity: 0.5;
}

.imgFicha {
    width: 50px;
    height: auto;
    left: 5px;
}

img {
    max-width: 400px;
    height: auto;
    position: absolute;
    bottom: 5px;
}

.menu {
    font-family: monospace;
    font-size: large;
}

.jTurno {
    color: red;
}

.dialogo {
    color: red;
    background-color: white;
    padding: 60px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    border-radius: 45%;
    position: fixed;
    bottom: 36%;
    font-family: monospace;
    font-size: x-large;
    font-weight: 800;
}

.dialogo::after {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    border-bottom: 33px solid transparent;
    border-right: 50px solid #fff;
    bottom: -30px;
    right: 100px;
}

.tiempo {
    display: flex;
}
.data {
    font-size: xx-large;
    text-align: center;
    color: red;
}

.text-center {
    text-align: center;
}