

mat-card {
    margin-top: 3%;
}

.card {
    margin: 2% 3.5%;
    color: var(--vetbook-dark-gray);
}

mat-divider {
    border-top: solid 3px var(--vetbook-background);
}

.mat-card .mat-divider-horizontal {
    width: 92%;
    margin: 0 4%;
}
.title {
    margin-bottom: 0;
}
.user-info a {
    text-decoration: none;
    color: var(--vetbook-dark-gray);
}
.card-header {
    display: flex;
}
.card-body p {
    margin-top: 1.5em;
}

.reactions {
    display: flex;
    margin-top: 5%;
}
app-reaction {
    margin-right: 5%;
}

.post-img {
    width: 31rem;
}

.options {
    float: right;
    margin-right: 0;
    position: relative;
    bottom: 12px;
}
@media only screen and (max-width: 450px) {
    .post-img {
        width: 100%;
    }
    p {
        margin-bottom: 0px;
    }
}