mat-card {
    color: var(--vetbook-dark-gray);
}

.name {
    margin-bottom: 0;
    font-size: large;
}
.user-info {
    line-height: 1px;
}

.card-header {
    display: flex;
    margin: 1rem 0;
}

.post-img {
    width: 100%;
}

img {
    margin-top: 3%;
}