.cover {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.profile-pic-max {
    width: 17rem;
    margin-top: -6.3%;
    margin-right: 68%;

}

.container {
    background-color: var(--vetbook-background-section);
    text-align: center;
    height: 510px;
}

.user-info {
    margin-top: -6%;
}

.user-info h1 {
    font-size: 3em;
    color: var(--vetbook-dark-gray);
}

.user-info h6 {
    font-size: 1.5em
}

.btn {
    float: right;
    margin-top: -4%;
    right: 11rem;
}