<div class="container">
    <img src="{{user.coverPicture}}" alt="foto de portada" class="cover">
    <img src="{{user.profilePicture}}" alt="foto de perfil" class="profile-pic-max">

    <div class="user-info">
        <h1>{{user.name}} {{user.lastname}}</h1>
        <h6>{{user.description}}</h6>
    </div>

    <div class="actions">
        <button  *ngIf="userId == 1" mat-raised-button class="btn-done btn">Editar perfil</button>
        <button  *ngIf="userId == 2" mat-raised-button class="btn-cancel btn">Eliminar</button>
    </div>
</div>