.person {
    display: flex;
    margin: 1rem 0;
    margin-left: 1.5rem;
}
mat-card {
    color: var(--vetbook-dark-gray);
}
.name {
    margin-bottom: 0;
    font-size: large;
}
.user-info {
    line-height: 1px;
}
.add {
    margin-left: 17%;
    margin-top: 2%;
}
.add:hover {
    cursor: pointer;
}

@media only screen and (max-width: 450px) {
    .card{
        display: flex;
        overflow-x: auto;
    }

    .person {
        width: 230px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;


    }
    
    .add {
        margin-left: 0;
        margin-top: 10px;

    }
    h3 {
        margin: auto;
    }
   
}