.container {
    display: flex;
}

.center-column {
    flex-basis: 35rem;
    margin-left: 21%;
}

app-recommendations {
    flex-basis: 16rem;
    margin-left: 1%;
    margin-top: 1%;
}
app-ad {
    
    flex-basis: 16rem;
    margin-left: 20.3rem;
    margin-top: 1%;
}