.container {
    display: flex;
}

.center-column {
    flex-basis: 35rem;
    margin-left: 21%;
}

app-recommendations {
    flex-basis: 16rem;
    margin-left: 1%;
    margin-top: 1%;
}
app-ad {
    
    flex-basis: 16rem;
    margin-left: 20.3rem;
    margin-top: 1%;
}

@media only screen and (max-width: 450px) {
    .container {
        flex-direction: column;
    }
    .center-column {
   margin-left: 0%;}
   app-ad {
       display: none;
   }
   app-recommendations {
       flex-basis: auto;
   }
  
} 