<div class="container">
    <img src="../../../assets/vet/logoazul.svg" alt="vetbook" class="logo">
</div>
<div class="content">
    <div class="welcome">
        <h1>Encontrar y dar soluciones veterinarias</h1>
    </div>
    <div class="form-content">
        <form action="">
            <div class="form-field">
                <mat-label>Usuario</mat-label>
                <input type="text" class="input" matInput autocomplete="off">
            </div>
            <div class="form-field">
                <mat-label>Contraseña</mat-label>
                <input type="text" class="input" matInput autocomplete="off">
            </div>
            <button mat-raised-button class="btn-done" (click)="login()">Iniciar sesión</button>
            <br><a (click)="singup()">No estoy registrado</a>
        </form>
    </div>
</div>