<div class="container">
    <img src="../../../assets/vet/logoazul.svg" alt="vetbook" class="logo">
</div>
    <div class="content">
        <div class="welcome">
            <h1>Encontrar y dar soluciones veterinarias</h1>
        </div>
        <div class="form-content">
            <form action="">
                <mat-form-field appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput>
                </mat-form-field>
                <button mat-raised-button class="btn-done" (click)="login()">Iniciar sesión</button>
                <br><a href="">No estoy registrado</a>
            </form>
        </div>
    </div>