
.container {
    text-align: center;
    margin-top: 5%;
}
.logo {
    height: 10vh;
    width: auto;
}
.content {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.welcome {
    flex-basis: 25rem;
    margin-left: 15%;
}
.welcome h1 {
    font-size: 4em;
    line-height: 1em;
    color: var(--vetbook-dark-gray);
}
.form-content {
    background-color: var(--vetbook-section-background);
    flex-basis: 17rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--vetbook-dark-gray);
    text-align: center;
    margin-left: 30%;
}
mat-label {
    color: var(--vetbook-dark-gray);
}

.mat-form-field-underline {
    border-bottom-color: var(--vetbook-dark-gray);
}
form {
    margin: 2rem 0 2rem;
}
button {
    width: 13rem;
    margin-bottom: 5%;
}
.form-field {
    text-align: left;
    margin-bottom: 5%;
}
.input {
    background-color: white;
    border: solid 1px var(--vetbook-background);
    border-radius: 2px;
    height: 30px;
    border-radius: 3px;
    width: 75%;
    margin-left: 11%;
}
.form-field mat-label {
    margin-left: 11%;
}
@media only screen and (max-width: 450px) {
    .content {
        flex-direction: column;
        align-items: center;
        
    }
    .logo{
        height: 5vh;
    }

    .welcome h1 {
        font-size: 2em;
    }
    .welcome {
        margin-left: 8px;
        flex-basis: 12rem;
    }
    .form-content {

        margin-left: -2px;
        width: 80%;
    }
   
} 
