
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
:root {
--vetbook-primary: #651fff;
--vetbook-light-primary: #DDC7FA;
--vetbook-accent: #52BF98;
--vetbook-light-accent: #9EEBCF;
--vetbook-warn: #ec407a;
--vetbook-background: #E5E5E5;
--vetbook-background-section: #F0F0F0;
--vetbook-dark-gray: #535353;
}
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-themes($vetbook-theme);

/* You can add global styles to this file, and also import other style files*/

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: var(--vetbook-background);
}
nav {
    background-color: var(--vetbook-primary);
    width: 100%;
    height: 4rem;
}
.btn-done {
    background-color: var(--vetbook-accent);
    color: var(--vetbook-dark-gray);
}
.btn-done:hover {
    background-color: var(--vetbook-light-accent);
}
a {
    color: var(--vetbook-primary);
}
a:hover {
    font-weight: bold;
    cursor: pointer;
}
.vet-section {
    background-color: var(--vetbook-background-section);
}
.title {
    font-weight: bold!important;
    font-size: 1.5em!important;
}

.secondary-information {
    font-size: smaller;
}
