.container {
    display: flex;
}


app-post-list {
    flex-basis: 45rem;
    margin-left: 32%;
}

.pagination {
    margin: 3rem 11rem;
    position: absolute;
}

.pagination h5 {
    font-size: x-large;
    line-height: 3rem;
}
.selected {
    color: var(--vetbook-primary);
    font-weight: bold;
    text-decoration: underline;
    font-size: initial;
}

.selected:hover {
    cursor: pointer;
}

.no-selected:hover {
    color: var(--vetbook-primary);
    cursor: pointer;
}