<nav>
    <a href=""><img src="../../assets/vet/logocorto.svg" alt="vet" class="logo"></a>
    <div class="navegation">
        <a href=""><img src="../../assets/nav/HouseDoor.svg" alt="home" class="icon"></a>
        <a href=""><img src="../../assets/nav/ChatLeftDots.svg" alt="chat" class="icon"></a>
        <a href=""><img src="../../assets/nav/purple-profile-icon.png" alt="profile" class="icon"></a>
        <a href=""><img src="../../assets/nav/Bell.svg" alt="news" class="icon"></a>
    </div>
</nav>
