
.navegation {
    position: relative;
    display: inline;
    float: right;
    top: 1rem;
    left: 68rem;
}

.nav-icon {
    margin-right: 2%;
}

.logo {
    height: 50px;
    margin: 0.5rem 1rem;
}

.icon {
    height: 35px;
    width: auto;
    margin: 0 0.5rem;
}
nav {
    display: flex;
}
form {
    margin-top: 0.5%;
}
.hide {
    display: none;
}

.search {
    position: fixed;
    background-color: white;
    top: 3rem;
    left: 21rem;
    width: 12rem;
}
.search .user {
    padding: 5%;
}
.user:hover {
    background-color: var(--vetbook-light-primary);
}
.search p {
    margin-bottom: 0;
    font-size: large;
}
.search span {
    font-size: smaller;
}

mat-divider {
    border-top-color: var(--vetbook-dark-gray);
}